@import "tailwindcss";
@plugin "daisyui";

/* --- Keyframe Animations --- */
@keyframes float {
     0% {
          transform: translateY(0px);
     }

     50% {
          transform: translateY(-20px);
     }

     100% {
          transform: translateY(0px);
     }
}

.animate-float {
     animation: float 6s ease-in-out infinite;
}

/* --- Base Layout & Overflow Fixes --- */
html,
body {
     width: 100%;
     overflow-x: clip;
     scroll-behavior: smooth;
}

body {
     min-height: 100vh;
}